.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  .leftPart {
    display: flex;
    align-items: center;
    .img {
      width: 18.13px;
      height: 32.76px;
      flex-shrink: 0;
      margin-left: 16px;

      background: url("../data/img/titleImg.svg") center/100% 100% no-repeat;
    }
    .title {
      font-weight: bold;
      font-size: 16px;
      margin-left: 42px;
    }
  }
}