.App {
  font-family: "Open Sans", sans-serif;

  display: flex;
  flex-direction: column;

  min-height: 100vh;

  .main {
    display: flex;
    position: relative;
    flex: 1 1 auto;

    .ToDo__container {
      margin: 24px;
      width: 100%;

      display: flex;
      gap: 64px;
    }
  }
}